
	
.no-gutter
	padding 0
.no-margin
	margin 0
.no-gutter-right
	padding-right 0
.no-gutter-left
	padding-left 0
.flex-row
	display flex
	flex-direction row
	justify-content space-between
body
	overflow-x hidden
	overflow-y scroll
	
// variable

$hashtag = 24px
$hitam = black
$hitam-dope = #2c3e50
$h-banner-tengah = 293px
$font-divider = 20px
$montserrat = 'Montserrat', sans-serif
$roboto = 'Roboto', sans-serif
$font-thumbnail = 26px
$font-slider = 38px
$judul-naskah = 26px
$title-berita = 22px
// /variable

#utama
	margin-bottom 275px
	position relative
	z-index 6

.background-container
	width 500%
	background-color white
	position absolute
	top 0
	left -100vh
	z-index -3
	min-height 100%
	overflow hidden

h1
	font-family "Ubuntu"
	
.left-side-banner
	position fixed
	top 160px
	margin-left 1065px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
	img
		width 130px

.right-side-banner
	position fixed
	top 160px
	margin-left -60px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
	img
		width 130px
	
// center
.logo
	max-height 150px
	position relative
	img
		width 68%
		z-index 2
	.utility
		float right
		position absolute
		text-align right
		bottom 5px
		a
			font-size 30px
			margin-left 10px
			color black

.hashtag
	display inline-block
	margin 0
	position: absolute;
	top 50%
	left 50%;
	margin-right -50%;
	transform translate(-50%, -50%)
	font-family "Ubuntu"
	font-size $hashtag
	color white
	font-weight bold
	
.hover-1
	transform scale(1.1)
	left 64px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
	
.hover-text-thumbnail
	transform scale(1.1)
	

.wrapper-box
	background-color $hitam
	width 100%
	height 111px
	margin-bottom 20px
	position relative
	&:last-child
		margin-bottom 0
	
#first-section.wrapper-center
	margin-bottom 10px

.wrapper-center
	.first-img
		width 100%
	.first-wrapper
		#first-sub-left
			display flex
			flex-direction column
			flex-wrap wrap
	.col-sm-8
		position relative
		span
			position absolute
			bottom 0
			left 22px
			font-size 40px
			text-decoration none
			color white
			-webkit-transition: all .25s ease
			-moz-transition: all .25s ease
			-ms-transition: all .25s ease
			-o-transition: all .25s ease
			transition: all .25s ease
			font-family "Roboto"
			font-weight bold
.banner-center
	margin-top 10px
	img
		width 100%
		height auto

.big-divider
	background-color black
	width 100%
	position relative
	height 45px
	margin-bottom 10px

.text-divider
	font-size $font-divider
	color white
	font-weight 100
	position: absolute;
	top 50%
	left 50%;
	margin-right -50%;
	transform translate(-50%, -50%)
	font-family $roboto
	text-transform uppercase
	font-weight 100
	letter-spacing 1px
	

.wrapper-thumbnail-4
	position relative
	height 113px
	width 230px
.img-thumbnail-4
	width 100%

#menu-berita
	margin-bottom 35px

#menu-berita .col-md-3
	padding 0 5px
	margin-bottom 48px
	&:first-child
		padding-left 0
	&:last-child
		padding-right 0
		
.thumbnail-4-text
	font-size $font-thumbnail
	color white
	text-transform uppercase
	position absolute
	z-index 10
	bottom -20px
	font-family "Roboto"
	left 10px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
	font-weight bold
	
.wrapper-relative
	position relative
	span
		position absolute
		left 20px
		bottom 0
		font-family $roboto
		font-size $font-slider
		color white
		font-weight bold
.carousel
	img
		width 100%
		

#loker-sub-menu
	height auto
	margin 15px 0
	.col-md-4
		padding 0 5px
		&:first-child
			padding-left 0
		&:last-child
			padding-right 0
	.wrapper-thumbnail-3
		width 100%
		img
			width 100%
			height 191px
			
#jualbeli-sub-menu
	height auto
	margin 15px 0
	.col-md-4
		padding 0 5px
		&:first-child
			padding-left 0
		&:last-child
			padding-right 0
	.wrapper-thumbnail-3
		width 100%
		img
			width 100%
			height 191px
			
#interaksi-sub-menu
	height auto
	margin 10px 0 0
	.col-md-4
		padding 0 5px
		&:first-child
			padding-left 0
		&:last-child
			padding-right 0
	.wrapper-thumbnail-3
		width 100%
		img
			width 100%
			height 191px
			
.interaksi-side-text
	font-size $font-divider
	font-family $roboto
	
// footer
#footer-container
	height auto
	background-color black
	width 100%
	overflow hidden
	position fixed
	bottom 0

#footer
	padding 20px
	position relative
	z-index 10
	max-width 1400px
	margin 0 auto
	.col-lg-3
		padding 0
.logo-footer
	height 55px
.logo-gplay
	width 100%
	margin-top 15px
	
.footer-flex
	display flex
	flex-wrap wrap
	flex-direction column
	a
		text-decoration none
		color white
		font-family $roboto
		font-size $font-divider+2
		margin-bottom 25px
		-webkit-transition: all .25s ease
		-moz-transition: all .25s ease
		-ms-transition: all .25s ease
		-o-transition: all .25s ease
		&:hover
			transform scale(1.05)
			-webkit-transition: all .25s ease
			-moz-transition: all .25s ease
			-ms-transition: all .25s ease
			-o-transition: all .25s ease
		i
			display inline-block
			width 20px
			
// section berita
.wrapper-berita
	width 100%
	padding 10px
	border 2px solid $hitam-dope
	
.title-berita
	font-size $title-berita
	font-weight bold
	font-family $roboto
	text-align center
	text-transform uppercase
	margin 0 0 25px
	
.konten-berita
	display block
	font-size $font-divider
	text-decoration none
	color $hitam-dope
	&:hover
		text-decoration none
		color $hitam-dope
		transform scale()
.paging-berita
	font-size $font-divider - 6
	color $hitam-dope
	
.divider-konten
	height 25px
	
// section kategori berita
.wrapper-box-naskah
	border-bottom 2px solid $hitam-dope
	margin 15px 0
	&:last-child
		border-bottom none
.tentang-wrapper
	width 100%
	border 2px solid $hitam-dope
	min-height 111px
.tentang-text
	font-family $roboto
	font-size 21px
	font-weight bold
	position absolute
	top 50%
	left 50%;
	margin-right -50%;
	transform translate(-50%, -50%)
.tentang-wrapper
	position relative
.judul-box-naskah
	color $hitam-dope
	font-family $roboto
	display block
	font-size 20px
	font-weight bold
	margin 10px 0 5px
	&:hover
		text-decoration none
		color tint($hitam-dope, 50%)
.content-box-naskah
	/* hide text if it more than N lines  */
	overflow hidden
	/* for set '...' in absolute position */
	position relative 
	/* use this value to count block height */
	line-height 1.2em
	/* max-height = line-height (1.2) * lines max number (3) */
	max-height 3.6em
	/* fix problem when last visible word doesn't adjoin right side  */
	text-align justify  
	/* place for '...' */
	margin-right -1em
	padding-right 2em
	font-family $montserrat
	
	&:before
		 /* points in the end */
		content '...'
		/* absolute position */
		position absolute
		/* set position to right bottom corner of block */
		right 1.3em
		bottom 0

	&:after
		/* points in the end */
		content: '';
		/* absolute position */
		position: absolute;
		/* set position to right bottom corner of text */
		right: 1.3em;
		/* set width and height */
		width: 1em;
		height: 1em;
		margin-top: 0.2em;
		/* bg color = bg color under block */
		background: white;
// section detail-berita
.judul-naskah
	font-size $judul-naskah
	font-family $roboto
	margin 0
	font-weight bold
	margin-bottom 15px
.wrapper-share
	display flex
	flex-direction column
	flex-wrap wrap
	align-content stretch
.share-detail
	text-decoration none
	color $hitam-dope
	font-family $roboto
	font-size $font-divider
	display inline-block
	&:hover
		text-decoration none
		color $hitam-dope
.share-flex
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content space-between
	max-width 270px
.icon-share
	width 50px
.wrapper-content-naskah
	padding 20px 0
	p
		font-family $roboto
.wrapper-comment
	background-color #ddd
	padding 10px
	display flex
	flex-direction column
	flex-wrap wrap
	margin-bottom 20px
.wrapper-isi-comment
	background-color black
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-around
	padding 10px 0
	position relative
.icon-user
	height 40px
.btn-post
	margin-left auto
	margin-right 5px
	&:before
		content '500'
		position absolute
		background-color transparent
		color white
		right 65px
		bottom 15px
.people-comment
	margin 15px 0 0
	min-height 100px
	background-color white
	display flex
	flex-direction row
	flex-wrap wrap
	padding 10px 0
	justify-content space-around
.people-comment-identitas
	width 100%
	padding 0 5px
.comment-nama
	font-size 16px
	font-family $roboto
	font-weight bold
.comment-tanggal
	font-weight light
	color tint(black, 50%)
	margin-top 5px
.isi-people-comment
	border-bottom 2px solid $hitam-dope
	font-family $roboto
	margin-bottom 10px
	margin-top 20px
.icon-love
	font-size 20px !important
	-webkit-transition: all 0.25s ease
	-moz-transition: all 0.25s ease
	-ms-transition: all 0.25s ease
	-o-transition: all 0.25s ease
	transition: all 0.25s ease
	&:hover
		cursor pointer
		
.jumlah-love
	font-size 20px
	font-family $roboto 
.ckbx
	display none
	
// @keyframes {asd}
// 	0%
// 		display flex


// media query 1200px / md
@media (max-width: 1200px)
	.wrapper-box
		height 67px
	.hashtag
		font-size 16px
	#utama
		margin-bottom 330px
	.left-side-banner
		top 110px
		width 100px
		margin-left 810px
		img
			width 100%
	.right-side-banner
		margin-left 30px
		top 110px
		width 100px
		img
			width 100%
	.wrapper-relative span
		font-size 24px
	#loker-sub-menu .wrapper-thumbnail-3 img
		height 123px
	#jualbeli-sub-menu .wrapper-thumbnail-3 img
		height 123px
	#interaksi-sub-menu .wrapper-thumbnail-3 img
		height 123px
	.wrapper-berita
		margin-bottom 25px
	.divider-konten
		height 0
	#menu-berita
		margin-bottom -5px
	.wrapper-thumbnail-4
		width 150px
	.thumbnail-4-text
		font-size 18px
		bottom 25px


// media query 900px /sm
@media (max-width: 990px)
	.right-side-banner
		margin-left 5px
		top 85px
		width 90px
	.left-side-banner
		top 85px
		width 90px
		margin-left 620px
	#menu-berita
		margin-bottom -25px
	.thumbnail-4-text
		bottom 40px
	.wrapper-thumbnail-3
		margin 10px 0
	.text-wrapper-3
		left 10px !important
		font-size 20px !important