.no-gutter {
  padding: 0;
}
.no-margin {
  margin: 0;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
#utama {
  margin-bottom: 275px;
  position: relative;
  z-index: 6;
}
.background-container {
  width: 200%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -3;
  min-height: 100%;
  overflow: hidden;
}
h1 {
  font-family: "Ubuntu";
}
.left-side-banner {
  text-align: right;
  height: 700px;
  z-index: 1;
}
.left-side-banner img {
  position: fixed;
  width: 130px;
  top: 150px;
  margin-left: -130px;
}
.right-side-banner {
  text-align: left;
  min-height: 700px;
}
.right-side-banner img {
  position: fixed;
  top: 150px;
  width: 130px;
}
.logo {
  max-height: 150px;
  position: relative;
}
.logo img {
  width: 68%;
  z-index: 2;
}
.logo .utility {
  float: right;
  position: absolute;
  text-align: right;
  bottom: 5px;
}
.logo .utility a {
  font-size: 30px;
  margin-left: 10px;
  color: #000;
}
.hashtag {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Ubuntu";
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.hover-1 {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  left: 64px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.hover-text-thumbnail {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.wrapper-box {
  background-color: #000;
  width: 100%;
  height: 111px;
  margin-bottom: 20px;
  position: relative;
}
.wrapper-box:last-child {
  margin-bottom: 0;
}
#first-section.wrapper-center {
  margin-bottom: 10px;
}
.wrapper-center .first-img {
  width: 100%;
}
.wrapper-center .first-wrapper #first-sub-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrapper-center .col-sm-8 {
  position: relative;
}
.wrapper-center .col-sm-8 span {
  position: absolute;
  bottom: 0;
  left: 22px;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: "Roboto";
  font-weight: bold;
}
.wrapper-center .banner-center {
  margin-top: 10px;
}
.wrapper-center .banner-center img {
  width: 100%;
  height: auto;
}
.big-divider {
  background-color: #000;
  width: 100%;
  position: relative;
  height: 35px;
  margin-bottom: 10px;
}
.text-divider {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}
.wrapper-thumbnail-4 {
  position: relative;
  width: 100%;
  padding: 0 5px;
  height: 113px;
}
.wrapper-thumbnail-4:first-child {
  padding: 0;
}
.img-thumbnail-4 {
  width: 100%;
  height: 150px;
}
#menu-berita .col-md-3 {
  padding: 0 5px;
  margin-bottom: 48px;
}
#menu-berita .col-md-3:first-child {
  padding-left: 0;
}
#menu-berita .col-md-3:last-child {
  padding-right: 0;
}
.thumbnail-4-text {
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  z-index: 10;
  bottom: -35px;
  font-family: "Roboto";
  left: 10px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-weight: bold;
}
.wrapper-relative {
  position: relative;
}
.wrapper-relative span {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  color: #fff;
  font-weight: bold;
}
.carousel img {
  width: 100%;
}
#loker-sub-menu {
  height: auto;
  margin: 15px 0;
}
#loker-sub-menu .col-md-4 {
  padding: 0 5px;
}
#loker-sub-menu .col-md-4:first-child {
  padding-left: 0;
}
#loker-sub-menu .col-md-4:last-child {
  padding-right: 0;
}
#loker-sub-menu .wrapper-thumbnail-3 {
  width: 100%;
}
#loker-sub-menu .wrapper-thumbnail-3 img {
  width: 100%;
  height: 191px;
}
#jualbeli-sub-menu {
  height: auto;
  margin: 15px 0;
}
#jualbeli-sub-menu .col-md-4 {
  padding: 0 5px;
}
#jualbeli-sub-menu .col-md-4:first-child {
  padding-left: 0;
}
#jualbeli-sub-menu .col-md-4:last-child {
  padding-right: 0;
}
#jualbeli-sub-menu .wrapper-thumbnail-3 {
  width: 100%;
}
#jualbeli-sub-menu .wrapper-thumbnail-3 img {
  width: 100%;
  height: 191px;
}
#interaksi-sub-menu {
  height: auto;
  margin: 10px 0 0;
}
#interaksi-sub-menu .col-md-4 {
  padding: 0 5px;
}
#interaksi-sub-menu .col-md-4:first-child {
  padding-left: 0;
}
#interaksi-sub-menu .col-md-4:last-child {
  padding-right: 0;
}
#interaksi-sub-menu .wrapper-thumbnail-3 {
  width: 100%;
}
#interaksi-sub-menu .wrapper-thumbnail-3 img {
  width: 100%;
  height: 191px;
}
.interaksi-side-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#footer-container {
  height: auto;
  background-color: #000;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
#footer {
  padding: 20px;
  position: relative;
  z-index: 10;
  max-width: 1400px;
  margin: 0 auto;
}
#footer .col-lg-3 {
  padding: 0;
}
.logo-footer {
  height: 55px;
}
.logo-gplay {
  width: 100%;
  margin-top: 15px;
}
.footer-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-flex a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-bottom: 25px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.footer-flex a:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.footer-flex a i {
  display: inline-block;
  width: 20px;
}
@media (max-width: 1200px) {
  .wrapper-box {
    height: 67px;
  }
  .hashtag {
    font-size: 16px;
  }
  .thumbnail-4-text {
    font-size: 18px;
  }
  #utama {
    margin-bottom: 330px;
  }
  .left-side-banner img {
    top: 110px;
  }
  .wrapper-relative span {
    font-size: 24px;
  }
  #loker-sub-menu .wrapper-thumbnail-3 img {
    height: 123px;
  }
  #jualbeli-sub-menu .wrapper-thumbnail-3 img {
    height: 123px;
  }
  #interaksi-sub-menu .wrapper-thumbnail-3 img {
    height: 123px;
  }
}
