// container
@media (min-width: 1200px)
	.container
		max-width 1300px
	
.no-gutter
	padding 0
.no-margin
	margin 0
	
// variable

$hashtag = 24px
$hitam = black
$hitam-dope = #2c3e50
$h-banner-tengah = 293px
$font-divider = 20px
$montserrat = 'Montserrat', sans-serif
$roboto = 'Roboto', sans-serif
$font-thumbnail = 26px
// /variable

h1
	font-family "Ubuntu"
	
.left-side-banner
	text-align right
	height 700px
	z-index 1
	img
		position fixed 
		width 130px
		top 150px
		margin-left -120px
	
.right-side-banner
	text-align left
	min-height 700px
	img
		position fixed 
		top 150px
		width 130px
	
// center
.logo
	max-height 150px
	position relative
	img
		width 80%
		z-index 2
	.utility
		float right
		position absolute
		text-align right
		bottom 5px
		a
			font-size 30px
			margin-left 10px
			color black

.hashtag
	display inline-block
	margin 0
	position: absolute;
	top 50%
	left 50%;
	margin-right -50%;
	transform translate(-50%, -50%)
	font-family "Ubuntu"
	font-size $hashtag
	color white
	font-weight bold
	
.hover-1
	transform scale(1.1)
	left 64px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
	
.hover-text-thumbnail
	transform scale(1.1)
	
.wrapper-center
	.first-wrapper
		#first-img
			width 100%
		#first-sub-left
			display flex
			flex-direction column
			flex-wrap wrap
			.wrapper-box
				background-color $hitam
				width 100%
				height 85px
				margin-bottom 20px
				position relative
				
		#first-sub-right
			.wrapper-box
				background-color $hitam
				width 100%
				height 85px
				margin-bottom 20px
				position relative
		.col-sm-8
			position relative
			span
				position absolute
				bottom 0
				left 22px
				font-size 40px
				text-decoration none
				color white
				-webkit-transition: all .25s ease
				-moz-transition: all .25s ease
				-ms-transition: all .25s ease
				-o-transition: all .25s ease
				transition: all .25s ease
				font-family "Roboto"
	.banner-center
		margin-top 10px
		img
			width 100%
			height auto

.big-divider
	background-color black
	width 100%
	position relative
	height 35px
	margin-bottom 10px

.text-divider
	font-size $font-divider
	color white
	font-weight 100
	position: absolute;
	top 50%
	left 50%;
	margin-right -50%;
	transform translate(-50%, -50%)
	font-family $roboto
	text-transform uppercase
	letter-spacing 1px
	

.wrapper-thumbnail-4
	position relative
	width 100%
	padding 0 5px
	height 113px
	&:first-child
		padding 0
.img-thumbnail-4
	width 100%
	height 100%

#menu-berita .col-md-3
	padding 0 5px
	margin-bottom 15px
	&:first-child
		padding-left 0
	&:last-child
		padding-right 0
		
.thumbnail-4-text
	font-size $font-thumbnail
	color white
	text-transform uppercase
	position absolute
	z-index 10
	bottom 0
	font-family "Roboto"
	left 10px
	-webkit-transition: all .25s ease
	-moz-transition: all .25s ease
	-ms-transition: all .25s ease
	-o-transition: all .25s ease
	transition: all .25s ease
	font-weight bold