.no-gutter {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.no-gutter-right {
  padding-right: 0;
}
.no-gutter-left {
  padding-left: 0;
}
.flex-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
#utama {
  margin-bottom: 275px;
  position: relative;
  z-index: 6;
}
.background-container {
  width: 500%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -100vh;
  z-index: -3;
  min-height: 100%;
  overflow: hidden;
}
h1 {
  font-family: "Ubuntu";
}
.left-side-banner {
  position: fixed;
  top: 160px;
  margin-left: 1065px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.left-side-banner img {
  width: 130px;
}
.right-side-banner {
  position: fixed;
  top: 160px;
  margin-left: -60px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.right-side-banner img {
  width: 130px;
}
.logo {
  max-height: 150px;
  position: relative;
}
.logo img {
  width: 68%;
  z-index: 2;
}
.logo .utility {
  float: right;
  position: absolute;
  text-align: right;
  bottom: 5px;
}
.logo .utility a {
  font-size: 30px;
  margin-left: 10px;
  color: #000;
}
.hashtag {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Ubuntu";
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.hover-1 {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  left: 64px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.hover-text-thumbnail {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.wrapper-box {
  background-color: #000;
  width: 100%;
  height: 111px;
  margin-bottom: 20px;
  position: relative;
}
.wrapper-box:last-child {
  margin-bottom: 0;
}
#first-section.wrapper-center {
  margin-bottom: 10px;
}
.wrapper-center .first-img {
  width: 100%;
}
.wrapper-center .first-wrapper #first-sub-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrapper-center .col-sm-12,
.wrapper-center .col-sm-8 {
  position: relative;
}
.wrapper-center .col-sm-12 span,
.wrapper-center .col-sm-8 span {
  position: absolute;
  bottom: 0;
  left: 22px;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: "Roboto";
  font-weight: bold;
}
.banner-center {
  margin-top: 10px;
}
.banner-center img {
  width: 100%;
  height: auto;
}
.big-divider {
  background-color: #000;
  width: 100%;
  position: relative;
  height: 45px;
  margin-bottom: 10px;
}
.text-divider {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}
.wrapper-thumbnail-4 {
  position: relative;
  height: 113px;
  width: 230px;
}
.img-thumbnail-4 {
  width: 100%;
}
#menu-berita {
  margin-bottom: 35px;
}
#menu-berita .col-md-3 {
  padding: 0 5px;
  margin-bottom: 48px;
}
#menu-berita .col-md-3:first-child {
  padding-left: 0;
}
#menu-berita .col-md-3:last-child {
  padding-right: 0;
}
.thumbnail-4-text {
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  z-index: 10;
  bottom: -20px;
  font-family: "Roboto";
  left: 10px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-weight: bold;
}
.wrapper-relative {
  position: relative;
}
.wrapper-relative span {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  color: #fff;
  font-weight: bold;
}
.carousel img {
  width: 100%;
}
#loker-sub-menu {
  height: auto;
  margin: 15px 0;
}
#loker-sub-menu .col-md-4 {
  padding: 0 5px;
}
#loker-sub-menu .col-md-4:first-child {
  padding-left: 0;
}
#loker-sub-menu .col-md-4:last-child {
  padding-right: 0;
}
#loker-sub-menu .wrapper-thumbnail-3 {
  width: 100%;
}
#loker-sub-menu .wrapper-thumbnail-3 img {
  width: 100%;
  height: 191px;
}
#jualbeli-sub-menu {
  height: auto;
  margin: 15px 0;
}
#jualbeli-sub-menu .col-md-4 {
  padding: 0 5px;
}
#jualbeli-sub-menu .col-md-4:first-child {
  padding-left: 0;
}
#jualbeli-sub-menu .col-md-4:last-child {
  padding-right: 0;
}
#jualbeli-sub-menu .wrapper-thumbnail-3 {
  width: 100%;
}
#jualbeli-sub-menu .wrapper-thumbnail-3 img {
  width: 100%;
  height: 191px;
}
#interaksi-sub-menu {
  height: auto;
  margin: 10px 0 0;
}
#interaksi-sub-menu .col-md-4 {
  padding: 0 5px;
}
#interaksi-sub-menu .col-md-4:first-child {
  padding-left: 0;
}
#interaksi-sub-menu .col-md-4:last-child {
  padding-right: 0;
}
#interaksi-sub-menu .wrapper-thumbnail-3 {
  width: 100%;
}
#interaksi-sub-menu .wrapper-thumbnail-3 img {
  width: 100%;
  height: 191px;
}
.interaksi-side-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
#footer-container {
  height: auto;
  background-color: #000;
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}
#footer {
  padding: 20px;
  position: relative;
  z-index: 10;
  max-width: 1400px;
  margin: 0 auto;
}
#footer .col-lg-3 {
  padding: 0;
}
.logo-footer {
  height: 55px;
}
.logo-gplay {
  width: 100%;
  margin-top: 15px;
}
.footer-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-flex a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-bottom: 25px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.footer-flex a:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.footer-flex a i {
  display: inline-block;
  width: 20px;
}
.wrapper-berita {
  width: 100%;
  padding: 10px;
  border: 2px solid #2c3e50;
}
.title-berita {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.konten-berita {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #2c3e50;
}
.konten-berita:hover {
  text-decoration: none;
  color: #2c3e50;
  -webkit-transform: scale();
  -ms-transform: scale();
  transform: scale();
}
.paging-berita {
  font-size: 14px;
  color: #2c3e50;
}
.divider-konten {
  height: 25px;
}
.wrapper-box-naskah {
  border-bottom: 2px solid #2c3e50;
  margin: 15px 0;
}
.wrapper-box-naskah:last-child {
  border-bottom: none;
}
.tentang-wrapper {
  width: 100%;
  border: 2px solid #2c3e50;
  min-height: 111px;
}
.tentang-text {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tentang-wrapper {
  position: relative;
}
.judul-box-naskah {
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px;
}
.judul-box-naskah:hover {
  text-decoration: none;
  color: #959ea7;
}
.content-box-naskah {
/* hide text if it more than N lines  */
  overflow: hidden;
/* for set '...' in absolute position */
  position: relative;
/* use this value to count block height */
  line-height: 1.2em;
/* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
/* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
/* place for '...' */
  margin-right: -1em;
  padding-right: 2em;
  font-family: 'Montserrat', sans-serif;
}
.content-box-naskah:before {
/* points in the end */
  content: '...';
/* absolute position */
  position: absolute;
/* set position to right bottom corner of block */
  right: 1.3em;
  bottom: 0;
}
.content-box-naskah:after {
/* points in the end */
  content: '';
/* absolute position */
  position: absolute;
/* set position to right bottom corner of text */
  right: 1.3em;
/* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
/* bg color = bg color under block */
  background: #fff;
}
.judul-naskah {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: bold;
  margin-bottom: 15px;
}
.wrapper-share {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.share-detail {
  text-decoration: none;
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: inline-block;
}
.share-detail:hover {
  text-decoration: none;
  color: #2c3e50;
}
.share-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 270px;
}
.icon-share {
  width: 50px;
}
.wrapper-content-naskah {
  padding: 20px 0;
}
.wrapper-content-naskah p {
  font-family: 'Roboto', sans-serif;
}
.wrapper-comment {
  background-color: #ddd;
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.wrapper-isi-comment {
  background-color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px 0;
  position: relative;
}
.icon-user {
  height: 40px;
}
.btn-post {
  margin-left: auto;
  margin-right: 5px;
}
.btn-post:before {
  content: '500';
  position: absolute;
  background-color: transparent;
  color: #fff;
  right: 65px;
  bottom: 15px;
}
.people-comment {
  margin: 15px 0 0;
  min-height: 100px;
  background-color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.people-comment-identitas {
  width: 100%;
  padding: 0 5px;
}
.comment-nama {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.comment-tanggal {
  font-weight: light;
  color: #7f7f7f;
  margin-top: 5px;
}
.isi-people-comment {
  border-bottom: 2px solid #2c3e50;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
}
.icon-love {
  font-size: 20px !important;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.icon-love:hover {
  cursor: pointer;
}
.jumlah-love {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.ckbx {
  display: none;
}
.wrapper-hashtag-naskah {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.wrapper-hashtag-naskah-kecil {
  min-width: 100px;
  padding: 5px 10px;
  background-color: #000;
  margin: 0 10px 10px;
}
.wrapper-hashtag-naskah-kecil a {
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.wrapper-naskah-rekomend {
  margin: 20px 0;
}
.textarea-comment {
  width: 160px;
  margin-bottom: 15px;
}
.wrapper-podcast {
  padding: 0 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.wrapper-podcast:last-child {
  margin-bottom: 50px;
}
.line-break {
  width: 100%;
}
.wrapper-inner-podcast {
  height: auto;
  max-width: 130px;
}
.wrapper-inner-podcast img {
  width: 100%;
}
.wrapper-inner-podcast a {
  text-decoration: none;
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 1200px) {
  .wrapper-box {
    height: 67px;
  }
  .hashtag {
    font-size: 16px;
  }
  #utama {
    margin-bottom: 330px;
  }
  .left-side-banner {
    top: 110px;
    width: 100px;
    margin-left: 810px;
  }
  .left-side-banner img {
    width: 100%;
  }
  .right-side-banner {
    margin-left: 30px;
    top: 110px;
    width: 100px;
  }
  .right-side-banner img {
    width: 100%;
  }
  .wrapper-relative span {
    font-size: 24px;
  }
  #loker-sub-menu .wrapper-thumbnail-3 img {
    height: 123px;
  }
  #jualbeli-sub-menu .wrapper-thumbnail-3 img {
    height: 123px;
  }
  #interaksi-sub-menu .wrapper-thumbnail-3 img {
    height: 123px;
  }
  .wrapper-berita {
    margin-bottom: 25px;
  }
  .divider-konten {
    height: 0;
  }
  #menu-berita {
    margin-bottom: -5px;
  }
  .wrapper-thumbnail-4 {
    width: 150px;
  }
  .thumbnail-4-text {
    font-size: 18px;
    bottom: 25px;
  }
  .textarea-comment {
    width: 190px;
    margin-left: 15px;
  }
  .wrapper-isi-comment {
    padding: 15px;
  }
  .btn-post {
    height: 55px;
  }
  .btn-post:before {
    right: 35px;
    bottom: 5px;
  }
}
@media (max-width: 990px) {
  .right-side-banner {
    margin-left: 5px;
    top: 85px;
    width: 90px;
  }
  .left-side-banner {
    top: 85px;
    width: 90px;
    margin-left: 620px;
  }
  #menu-berita {
    margin-bottom: 0;
  }
  .thumbnail-4-text {
    bottom: 40px;
  }
  .wrapper-thumbnail-3 {
    margin: 10px 0;
  }
  .text-wrapper-3 {
    left: 10px !important;
    font-size: 20px !important;
  }
  .btn-post {
    height: auto;
  }
  .btn-post:before {
    right: 85px;
    bottom: 20px;
  }
  .hidden-hashtag {
    margin-top: 15px;
  }
  .flex-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-row .wrapper-thumbnail-4 {
    width: 49%;
    margin-bottom: 10px;
    height: auto;
  }
  .wrapper-box {
    width: 98%;
  }
  .first-sub-right2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 5px;
  }
  .first-sub-right2 .wrapper-box {
    width: 100%;
  }
  .slider-nonext {
    padding: 0;
  }
  .interaksi-sub-menu {
    margin-bottom: 5px;
  }
  .slider-nonext2 {
    margin-bottom: 10px;
    padding: 0;
  }
  .rekomen-hidden {
    margin-bottom: -10px;
  }
}
